[Desktop Entry]
Name=90 Minutos
Comment=Timer 90min para sesiones de música
Exec=/mnt/SPEED/CODE/90Minutos/scripts/90minutos.sh start
Icon=/mnt/SPEED/CODE/90Minutos/icon/90.png
Terminal=false
Type=Application
Categories=Utility;AudioVideo;Music;
Keywords=timer;music;session;streaming;
StartupNotify=false

Actions=stop;restart;status;

[Desktop Action stop]
Name=Parar servidor
Exec=/mnt/SPEED/CODE/90Minutos/scripts/90minutos.sh stop

[Desktop Action restart]
Name=Reiniciar servidor
Exec=/mnt/SPEED/CODE/90Minutos/scripts/90minutos.sh restart

[Desktop Action status]
Name=Ver estado
Exec=/mnt/SPEED/CODE/90Minutos/scripts/90minutos.sh status
